<!DOCTYPE html>
<html>
<head>
<title>Register</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-5">

<h2 class="text-center mb-4">Register Patient</h2>

<form method="POST" class="card p-4 shadow">

<input class="form-control mb-3" name="name" placeholder="Name">
<input class="form-control mb-3" name="age" type="number" placeholder="Age">
<input class="form-control mb-3" name="gender" placeholder="Gender">
<input class="form-control mb-3" name="phone" placeholder="Phone">
<input class="form-control mb-3" name="disease" placeholder="Disease">

<button class="btn btn-success">Register</button>

</form>

</div>

</body>
</html>